{{!-- Nav bar --}}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 ps-3" style="font-size: 30px">Password Generator</span>
</nav>

<div class="d-flex justify-content-center align-items-center" style="min-height:100vh">
  <div class="card border-light" style="max-height:95vh; width:70vh;">
    <div class="card-header d-flex justify-content-between align-items-center" style="min-height:7vh">
      <div>
        <i class="fa-solid fa-key fa-2xl ms-2 me-2" style="color:darkgreen;"></i>
        <span class="navbar-brand mb-0 me-1 ps-1 pe-2" style="font-size: 20px">Password Generator</span>
      </div>
      <button type="submit" class="btn border-none p-2 ps-3 pe-3" id="reset-button" onclick="resetForm()" style="background-color: dodgerblue;">
        <i class="fa-solid fa-rotate-right" style="color: #ffffff;"></i>
      </button>
    </div>
    <div class="card-body mt-3">
      <form action="/passwordGenerator" method="post" id="form">
        {{!-- password length --}}
        <div class="mb-3 d-flex justify-content-between">
          <div class="p-2" style="width:35%">
            <label for="passwordLength" class="col-form-label">Password Length</label>
          </div>
          <div class="p-2 flex-grow-1">
            <input type="number" id="passwordLength" class="form-control" min="4" max="16" name="passwordLength" value="{{data.passwordLength}}">
            <span class="form-text">Length is available between 4 ~ 16</span>
          </div>
        </div>
        {{!-- include lowercase character  --}}
        <div class="mb-3 d-flex justify-content-between">
          <div class="p-2" style="width:35%">
            <label for="lowercaseCharacter" class="col-form-check-label">Include Lowercase Characters</label>
          </div>
          <div class="p-2 flex-grow-1">
            <input type="checkbox" id="lowercaseCharacter" class="form-check-input" name="lowercase" {{#if data.lowercase}} checked {{/if}}>
            <span class="ps-1">(e.g. abcdefg)</span>
          </div>
        </div>
        {{!-- include uppercase character --}}
        <div class="mb-3 d-flex justify-content-between">
          <div class="p-2" style="width:35%">
            <label for="uppercaseCharacter" class="col-form-check-label">Include Uppercase Characters</label>
          </div>
          <div class="p-2 flex-grow-1">
            <input type="checkbox" id="uppercaseCharacter" class="form-check-input" name="uppercase"  {{#if data.uppercase}} checked {{/if}}>
            <span class="ps-1">(e.g. ABCDEFG)</span>
          </div>
        </div>
        {{!-- include numbers --}}
        <div class="mb-3 d-flex justify-content-between">
          <div class="p-2" style="width:35%">
            <label for="numbers" class="col-form-check-label">Include Numbers</label>
          </div>
          <div class="p-2 flex-grow-1">
            <input type="checkbox" id="numbers" class="form-check-input" name="numbers"  {{#if data.numbers}} checked {{/if}}>
            <span class="ps-1">(e.g. 123456)</span>
          </div>
        </div>
        {{!-- include symbols --}}
        <div class="mb-3 d-flex justify-content-between">
          <div class="p-2" style="width:35%">
            <label for="symbols" class="col-form-check-label">Include Symbols</label>
          </div>
          <div class="p-2 flex-grow-1">
            <input type="checkbox" id="symbols" class="form-check-input" name="symbols"  {{#if data.symbols}} checked {{/if}}>
            <span class="ps-1">(e.g. @#$%)</span>
          </div>
        </div>
        {{!-- exclude characters --}}
        <div class="mb-3 d-flex justify-content-between">
          <div class="p-2" style="width:35%">
            <label for="excludeCharacters" class="col-form-label">Exclude Characters</label>
          </div>
          <div class="p-2 flex-grow-1">
            <input type="text" id="excludeCharacters" class="form-control" name="excludeCharacters" value="{{data.excludeCharacters}}">
            <span class="form-text">These characters will not appear in the password</span>
          </div>

        </div>
        <div class="ms-2 mb-3 p-4 rounded-3" id="password-result" style="background-color: #d9e5e6; display:{{display}};" >
          <button class="border-0" id="copy-button" style="text-decoration: none; color:black; background-color: #d9e5e6;" onclick="copy()">
            <i class="fa-solid fa-copy fa-2xl me-3" id="copyImage" style="color:white; display:{{displayBlock}};"></i>
            <span style="font-size: 18px">Your password is: </span>
            <span class="ms-2" id="password" style="font-size: 20px; color:dodgerblue;">{{password}}</span>
          </button>
        </div>
        <div class="mb-3 ms-2">
          <button type="submit" class="btn btn-success p-2" id="submit-button">Generate Password</button>
        </div>
      </form>
  </div>
  <div class="card-footer text-end p-3" style="">
    <span>idea is inspired by <a href="https://passwordsgenerator.net/" style="text-decoration:none">Strong Random Password</a></span>
  </div>
</div>

<script src="/javascripts/index.js"></script>